
.formcard{
    margin-top: 150px;
    margin-left: 500px;
}
.header{
    text-align: center;
    margin-left: 25px;
}
.example-card {
  margin-top: 50px;
  max-width: 300px;
  margin-left: 50px;
  background-color: beige;
  }
  mat-form-field{
    margin-left: 50px;
  }
.buttonAction{
    margin-left: 70px;
    margin-top: 5px;
}
.button{
    background-color: rosybrown;
    margin-left: 70px;
}

a{
    text-decoration: none;
}