.form{
    width: 5%;
    height: 10%;
}
.submitButton{
    background-color: black;
    color: white;
}
.submitButton:hover{
    background-color: white;
    color:black;
}

.closeButton {
    color: azure;
    background-color: red;
    margin-left: 150px;
   
    
    }