.closeButton {
    color: azure;
    background-color: red;
    margin-left: 200px;
    cursor: pointer;
    width: 2px; 
    }
    h2{
        margin-top: 5px;
        font-style:oblique;

    }

    span{
        font-weight: bold;
    }

    button{
        background-color: black;
        color: white;
    }
    mat-icon{
        margin-top: 5px;
    }
  